<!-- <div class="toolbox-btn" data-bind="css: { 'toolbox-btn-is-active': hyperlink() }">
    <a href="#" role="button" aria-label="Set hyperlink"
        data-bind="balloon: { component: { name: 'hyperlink-selector', params: { hyperlink: $component.hyperlink, onChange: $component.onHyperlinkChange } } }, tooltip: { message: 'Set hyperlink' }">
        <i aria-hidden="true" class="paperbits-icon paperbits-link-69-2"></i>
    </a>
</div> -->

<div class="toolbox-btn toolbox-dropdown">
    <a href="#" role="button" aria-label="Insert Variable Field"
        data-bind="balloon: { component: { name: 'variable-selector' } }, tooltip: { message: 'Insert Variable Field' }">
        <i aria-hidden="true" class="paperbits-icon paperbits-drop"></i>
    </a>
</div>