<div class="form" data-bind="scrollable: true">
  <div class="form-group form-group-collapsible">
    <label class="form-label">
      <a href="#" class="form-group-toggle" title="Toggle section" data-bind="collapse: '#basicCollapse'"></a>
      <b>Source</b>
    </label>
    <div id="basicCollapse" class="collapse form-group-collapse">
      <div class="form-group">
        <label class="form-label">
          <input
            name="size"
            type="radio"
            value="{{PartnerLogoUrlXSmall}}"
            data-bind="checked: logoSource, event: { change: applyChanges }"
          />Extra Small
        </label>
        <label class="form-label">
          <input
            name="size"
            type="radio"
            value="{{PartnerLogoUrlSmall}}"
            data-bind="checked: logoSource, event: { change: applyChanges }"
          />Small
        </label>
        <label class="form-label">
          <input
            name="size"
            type="radio"
            value="{{PartnerLogoUrlMedium}}"
            data-bind="checked: logoSource, event: { change: applyChanges }"
          />Medium
        </label>
        <label class="form-label">
          <input
            name="size"
            type="radio"
            value="{{PartnerLogoUrlLarge}}"
            data-bind="checked: logoSource, event: { change: applyChanges }"
          />Large
        </label>
        <label class="form-label">
          <input
            name="size"
            type="radio"
            value="{{PartnerLogoUrlXLarge}}"
            data-bind="checked: logoSource, event: { change: applyChanges }"
          />Extra Large
        </label>
        <label class="form-label">
          <input
            name="size"
            type="radio"
            value="{{PartnerLogoUrlXXLarge}}"
            data-bind="checked: logoSource, event: { change: applyChanges }"
          />Super Extra Large
        </label>
      </div>
    </div>
  </div>
</div>
